#pin-wrap {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;
}

.pin-box {
    box-sizing: border-box;
    text-align: center;

width: 58px;
height: 72px;

background: #FFFFFF;
/* Stroke / Gray01 */
border: 1px solid #E7E7E7;
/* Shadow1 */
box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.04), 0px 2px 4px rgba(117, 117, 117, 0.16);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.pin-box h2 {

/* Title/ $Display-05 */
font-family: 'Spoqa Han Sans Neo';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 72px;
/* identical to box height, or 130% */
text-align: center;

color: #000000;
}

#content-wrap h1 {
    font-family: 'Spoqa Han Sans Neo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* or 142% */

/* Colors Role/ Txt_Primary */
color: #1D1929;
}

#content-wrap > div {
    margin: 70px 0;
    justify-content: center;
}