#upper > img {
    width: 100%;
}

h2 {
    text-align: center;
    margin: 32px 0;
    font-size: 1.25rem;
}

p {
    text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        letter-spacing: -0.6px;
        color: #A3A7AE;
}

#info {
    margin: 32px 0;
}

.button {
    display: flex;
    justify-content: center;
    padding: 18px 72px;
    margin: 32px;
    background: #000000;
    border-radius: 4px;
}

.button > h4 {
height: 16px;
font-family: 'Spoqa Han Sans Neo';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 100%;
/* identical to box height, or 16px */
text-align: center;
letter-spacing: -0.6px;

/* White */
color: #FFFFFF;
}