/* :root {
    --border-radius: 20px;
} */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
}

.modal-main-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 14px 14px 0px 0px;
}

.modal-space {
    padding: 32px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.modal-body > * {
    text-align: center;
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
}

