<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/afterpay.css')}}">
</head>
<body>
    <div id="header">
        <span id="header-back">
            <img src="/static/img/m-1/icon-back.svg">
        </span>
        <span id="header-title">프레임 선택</span>
        <span id="header-space"></span>
    </div>
    <div id="main">
        <div id="content-wrap">
            <div id="upper">
                <img src="/static/img/m-1/films.svg">
            </div>
            <div id="info">
                <h2>결제에 실패했습니다</h2>
                <p>다시 돌아가서 프레임을 선택하실 수 있습니다</p>
            </div>
            <div class="card">
                <div>
                    <span class="button">
                        <h4>프레임 선택하기</h4>
                    </span>
                </div>
            </div>
            
        </div>
    </div>
    <footer id="footer">
        <p>무피 · 대표 : 정종현</p>
        <p>사업장소재지:충청북도 청주시 서원구 무심서로 377-3 서원대학교 인문사회관 b115호 (28674)</p>
        <p>전화번호: 010-5547-0355</p>
        <p>사업자등록번호:275-63-00540</p>
        <p>COPYRIGHT ⓒ MUFI. ALL RIGHTS RESERVED.</p>
    </footer>
</body>
<script src="/js/index.js"></script>
<script src="/js/pin.js"></script>
</html>