<!DOCTYPE html>
<html lang="en">
<head>
    <title> mufibooth </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <script>
        $(document).ready(function(){
            if ("{{session['id']}}" == ""){
                alert("올바른 경로가 아닙니다!!");
                window.location.href = "http://www.muinfilm.shop/webserver/signin";
            }
        });
    </script>
</head>
<body>
    <div id="header">
        <a href="javascript:history.back();">
            <span id="header-back">
                <img src="/static/img/m-1/icon-back.svg">
            </span>
        </a>
        <span id="header-title">포토 사이즈 선택</span>
        <span id="header-space"></span>
    </div>
    <div id="main">
        <div id="content-wrap">
            <p>결제 후 프레임 디자인 선택이 가능합니다</p>
            <!-- <button id="visible-test" onclick="visible()">안녕하세요 반갑습니다 테스트</button> -->
            <!-- <div class="content">
                <div class="menu">
                    <div class="menu-img">
                        <img src="/static/img/m-1/film-frame.svg">
                    </div>
                    <div class="menu-info">
                        <div class="menu-title">
                            <h4>Dummy</h4>
                        </div>
                        <div class="menu-price">
                            <h5>1장 3,000원</h5>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div id="pop" class="hidden">
        <div id="pop-screen">
            <div id="pop-header">
                <span id="pop-header-title">
                    결제하기
                </span>
                <span id="pop-close">
                    <img src="/static/img/m-1/ico-cancle.png">
                </span>
            </div>
            <div class="pop-info">
                <span class="pop-title">제품 수량</span>
                <span id="value-set">
                    <div id="value-down">
                        <img src="/static/img/m-1/minus.png">
                    </div>
                    <div id="value-number">1</div>
                    <div id="value-up">
                        <img src="/static/img/m-1/plus.png">
                    </div>
                </span>
            </div>
            <div class="pop-info">
                <span class="pop-title">주문 금액</span>
                <span id="pop-price">6,000원</span>
            </div>
            <div class="pop-rules">
                <div id="pop-notification">
                    결제 전
                    <a id="btn-rule-refund">환불 약관</a>
                    /
                    <a id="btn-rule-product">상품 제공 기간</a>
                    확인 후 진행 바랍니다.
                </div>
                <div class="rule hidden" id="rule-refund">
                    <h4>환불 정책</h4>
                    <p>현장에서 결제하고 무인필름 키오스크를 이용하지 못한 경우 핀 번호 발급 여부와 촬영 여부를 확인하여 환불을 진행해드립니다</p>
                    <p>핀 번호를 발급받고, 촬영 이미지를 수령하지 못하였을 경우, 현장에서 확인 후 환불을 진행해드리고 촬영 이후 사진을 발급받았을 경우에는 교환/환불이 불가합니다</p>
                    <p>핀 번호 발급 이후 촬영 사진의 출력물이 불량/훼손의 상태일 경우 현장에서 즉시 재인화하여 새 상품으로 교환해드립니다</p>
                    <a>닫기</a>
                </div>
                <div class="rule hidden" id="rule-product">
                    <h4>상품 제공 안내</h4>
                    <p>해당 상품을 구매하시면 카카오톡으로 부스 이용 전용 고유 핀 번호가 발급됩니다</p>
                    <p>이용하실 키오스크에 고유 PIN 번호를 입력합니다</p>
                    <p>해당 프레임의 사진을 6컷으로 인화한 사진을 제공받을 수 있습니다</p>
                    <p>카카오톡으로 촬영된 사진의 다운로드 링크가 전송됩니다</p>
                    <a>닫기</a>
                </div>
            </div>
	    <span id="button" onclick="tossPay('{{name}}')">
                <h4>다음으로</h4>
            </span>
        </div>
    </div>
    <footer id="footer">
        <p>무피 · 대표 : 정종현</p>
        <p>사업장소재지:충청북도 청주시 서원구 무심서로 377-3 서원대학교 인문사회관 b115호 (28674)</p>
        <p>전화번호: 010-5547-0355</p>
        <p>사업자등록번호:275-63-00540</p>
        <p>COPYRIGHT ⓒ MUFI. ALL RIGHTS RESERVED.</p>
    </footer>
</body>
<script src="https://js.tosspayments.com/v1"></script>
<script>
    let clientKey = 'live_ck_Wd46qopOB89pJ6Aa205rZmM75y0v' // 테스트용 클라이언트 키 test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq
    let tossPayments = TossPayments(clientKey) // 초기화
</script>
<script src="{{ url_for('static', filename='js/payment.js')}}"></script>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
</html>
<script src="{{ url_for('static', filename='js/menu.js')}}"></script>
<script src="{{ url_for('static', filename='js/setProduct.js')}}"></script>
<script src="{{ url_for('static', filename='js/setMenu.js')}}"></script>
<script src="{{ url_for('static', filename='js/popup.js')}}"></script>
<script src="{{ url_for('static', filename='js/rule.js')}}"></script>
