<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/new-all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/new-3.css')}}">
</head>
<body>
    <div id="header">
        <span>
            <img src="/static/img/m-1/icon-back.svg">
        </span>
        <h1>
            아늑하고 우아한 사진
        </h1>
    </div>
    <div id="main">
        <div id="content-wrap">
            <div class="content">
                <div id="menu-view">
                    <img src="/static/img/m-1/film-frame2.svg">
                </div>
                <div>
                    <div>
                        <div id="menu-name">
                            <h3>4컷 포토 (상품제목)</h3>
                        </div>
                        <div id="menu-info">
                            <h2>1장 0000원</h2>
                        </div>
                    </div>
                    <div id="menu-detail">
                        <div class="menu-description">
                            <h2>프레임 설명</h2>
                            <h3>프레임 설명</h3>
                        </div>
                        <div class="menu-description">
                            <h2>프레임 설명</h2>
                            <h3>프레임 설명</h3>
                        </div>
                        <div class="menu-description">
                            <h2>프레임 설명</h2>
                            <h3>프레임 설명</h3>
                        </div>
                    </div>
                </div>
                <div id="button-next">
                    <h4>안녕</h4>
                </div>
            </div>
            

        </div>
    </div>
</body>
</html>