<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default/font.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default/common.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default/layout.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pin.css')}}">
</head>
<body>
    <div id="header">
        <a href="javascript:history.back();">
            <span id="header-back">
                <img src="/static/img/m-1/icon-back.svg">
            </span>
        </a>
        <span id="header-title">핀 번호 발급</span>
        <span id="header-space"></span>
    </div>
    <div id="main">
        <div id="content-wrap">
            <div>
                <h1>핀 번호를 꼭</h1>
                <h1>기억해주세요!</h1>
            </div>
            <div id="pin-wrap">
                <div class="pin-box">
                    <h2>Z</h2>
                </div>
                <div class="pin-box">
                    <h2>1</h2>
                </div>
                <div class="pin-box">
                    <h2>2</h2>
                </div>
                <div class="pin-box">
                    <h2>3</h2>
                </div>
                <div class="pin-box">
                    <h2>4</h2>
                </div>
            </div>
            <div>
                <a href="/web/photo">
                    <span id="button">
                        <h4>사진 확인</h4>
                    </span>
                </a>
            </div>
            <div id="info">
                <p>촬영이 끝나면 직접 휴대폰으로 사진을 확인할 수 있습니다</p>
            </div>
        </div>
    </div>
    <footer id="footer">
        <p>무피 · 대표 : 정종현</p>
        <p>사업장소재지:충청북도 청주시 서원구 무심서로 377-3 서원대학교 인문사회관 b115호 (28674)</p>
        <p>전화번호: 010-5547-0355</p>
        <p>사업자등록번호:275-63-00540</p>
        <p>COPYRIGHT ⓒ MUFI. ALL RIGHTS RESERVED.</p>
    </footer>
</body>
<script src="https://js.tosspayments.com/v1"></script>
<script>
    let clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq' // 테스트용 클라이언트 키
    let tossPayments = TossPayments(clientKey) // 초기화
</script>
<script src="{{ url_for('static', filename='js/payment.js')}}"></script>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
<script src="{{ url_for('static', filename='js/pin.js')}}"></script>
</html>