<!DOCTYPE html>
<html lang="en">
<head>
    <title> mufibooth </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/afterpay.css')}}">
</head>
<body>
    <div id="header">
        <span></span>
        <span id="header-title">결제 성공</span>
        <span></span>
    </div>
    <div id="main">
        <div id="content-wrap">
            <div id="info">
                <h1>결제가 완료되었습니다</h1>
            </div>
            <div>
		<h2>{{pin}}</h2>
                <h2>핀 번호를 꼭</h2>
                <h2>기억해주세요!</h2>
            </div>
            <div id="pin-wrap">
                <div class="pin-box">
			<h2>{{pin1}}</h2>
                </div>
                <div class="pin-box">
			<h2>{{pin2}}</h2>
                </div>
                <div class="pin-box">
			<h2>{{pin3}}</h2>
                </div>
                <div class="pin-box">
			<h2>{{pin4}}</h2>
                </div>
                <div class="pin-box">
			<h2>{{pin5}}</h2>
                </div>
            </div>
            <div>
                <a href="/webserver/photo/main">
                    <span id="button">
                        <h4>사진 확인</h4>
                    </span>
                </a>
            </div>
            <div id="info">
                <p>핀 번호를 발급받아 사진을 촬영하실 수 있습니다</p>
                <p>촬영이 끝나면 직접 휴대폰으로 사진을 확인할 수 있습니다</p>
            </div>
        </div>
    </div>
    <footer id="footer">
        <p>무피 · 대표 : 정종현</p>
        <p>사업장소재지:충청북도 청주시 서원구 무심서로 377-3 서원대학교 인문사회관 b115호 (28674)</p>
        <p>전화번호: 010-5547-0355</p>
        <p>사업자등록번호:275-63-00540</p>
        <p>COPYRIGHT ⓒ MUFI. ALL RIGHTS RESERVED.</p>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
</html>
